<!DOCTYPE html>
<html>
<head>
    <title>Tash Management App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <h1>Task List</h1>
    <form action="/addtask" method="POST" enctype="multipart/form-data">
        <input type="text" name="subject" placeholder="Subject" required>
        <div id="editor-container" style="height: 200px;"></div>
        <input type="hidden" name="description" id="description">
        <button type="submit">Add Task</button>
    </form>
    <ul>
        <ul>
            <% tasks.forEach(task => { %>
                <li>
                    <h2><%= task.subject %></h2>
                    <p><%- task.description %></p>
                    <% if (task.image) { %>
                        <img src="/images/<%= task.image %>" alt="Task Image" style="max-width: 100px;">
                    <% } %>
                    <form action="/removetask" method="POST" style="display: inline;">
                        <input type="hidden" name="taskId" value="<%= task._id %>">
                        <button type="submit">Remove</button>
                    </form>
                    <a href="/edit/<%= task._id %>">Edit</a>
                </li>
            <% }) %>
        </ul>
        
    </ul>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor-container', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    ['bold', 'italic', 'underline'],
                    [{ 'align': [] }],
                    ['link', 'image']
                ]
            }
        });

        document.querySelector('form').addEventListener('submit', function() {
            var description = document.querySelector('#description');
            description.value = quill.root.innerHTML;
        });
    </script>
</body>
</html>
